USE [master]
GO
/****** Object:  Database [db_musica]    Script Date: 18/11/2016 12:20:29 ******/
CREATE DATABASE [db_musica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_musica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_musica.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_musica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_musica_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_musica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_musica]
GO
/****** Object:  Table [dbo].[Artista]    Script Date: 18/11/2016 12:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artista](
	[idArtista] [int] NOT NULL,
	[nombreArtista] [varchar](50) NOT NULL,
	[nacionalidad] [varchar](50) NULL,
	[descripcion] [varchar](max) NULL,
	[imagen] [varchar](300) NULL,
	[noticiaId] [int] NOT NULL,
	[cancionId] [int] NOT NULL,
	[descripcionCompleta] [varchar](max) NULL,
	[generoId] [int] NULL,
 CONSTRAINT [PK_Artista] PRIMARY KEY CLUSTERED 
(
	[idArtista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Canciones]    Script Date: 18/11/2016 12:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Canciones](
	[idCanciones] [int] NOT NULL,
	[nombreCanciones] [varchar](50) NOT NULL,
	[generoId] [int] NOT NULL,
 CONSTRAINT [PK_Canciones] PRIMARY KEY CLUSTERED 
(
	[idCanciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 18/11/2016 12:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genero](
	[idGenero] [int] NOT NULL,
	[tipoGenero] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[idGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Noticias]    Script Date: 18/11/2016 12:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Noticias](
	[idNoticia] [int] NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[imagen] [varchar](300) NULL,
 CONSTRAINT [PK_Noticias] PRIMARY KEY CLUSTERED 
(
	[idNoticia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Artista]  WITH CHECK ADD  CONSTRAINT [FK_Artista_Canciones] FOREIGN KEY([cancionId])
REFERENCES [dbo].[Canciones] ([idCanciones])
GO
ALTER TABLE [dbo].[Artista] CHECK CONSTRAINT [FK_Artista_Canciones]
GO
ALTER TABLE [dbo].[Artista]  WITH CHECK ADD  CONSTRAINT [FK_Artista_Genero] FOREIGN KEY([generoId])
REFERENCES [dbo].[Genero] ([idGenero])
GO
ALTER TABLE [dbo].[Artista] CHECK CONSTRAINT [FK_Artista_Genero]
GO
ALTER TABLE [dbo].[Artista]  WITH CHECK ADD  CONSTRAINT [FK_Artista_Noticias] FOREIGN KEY([noticiaId])
REFERENCES [dbo].[Noticias] ([idNoticia])
GO
ALTER TABLE [dbo].[Artista] CHECK CONSTRAINT [FK_Artista_Noticias]
GO
USE [master]
GO
