* {
	padding: 0;
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
}
body {
    background-image: url(http://unionprimesteak.com/wp-content/uploads/2015/11/bigstock-Crowd-of-people-with-raised-ar-70766698.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100%;
}
#espacio{
	padding: 10px;
}
p {
	margin-bottom: 20px;
}
#header {
	background: rgba(0,0,0,0.9);
	width: 100%;
	position: fixed;
	z-index: 100;
	font-family:Arial, Helvetica, sans-serif;
}
nav {
	float: right; /* Desplazamos el nav hacia la derecha */
}
nav ul {
	list-style: none;
	overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
nav ul li a{
	display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
	padding: 20px;
	color: #fff;
	text-decoration: none;
}
nav ul li a:hover {
	background: #457afc;
}
.contenido {
	padding-top: 90px;
}
.wrapper {
	width: 80%;
	margin: auto;
	overflow:hidden;
}
nav ul li ul{
	display:none;
	position:absolute;
	min-width:130px;
}
	nav ul li:hover > ul{
	background: rgba(0,0,0,0.7);
	display: block;
}