body {
    background-color: black;
}

#container {
    width: 300px;
    margin: 0 auto;
}

.ex img {
    height: 200px;
    width: 200px;
    margin: 80px auto 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    /*cuadro*/
    border: 5px solid blue;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

    .ex img:hover {
        height: 400px;
        width: 400px;
        margin: 80px auto 0 auto;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform: rotate(-360deg);
        /*cuadro*/
        border: 5px solid #e51a8b;
        border-radius: 80px;
        -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    }

.ex {
    width: 550px;
    height: 133px;
    line-height: 0px;
    color: transparent;
    font-size: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .ex:hover {
        line-height: 20px;
        color: #e51a8b;
    }

p {
    text-align: center;
    margin: 30px 140px 0 -10px;
}
